<div class="box">

    <div class="grid grid-cols-6">

        <div class="col-span-3">

            <div class="flex items-center w-full">

                <img class="w-[5rem] h-[5rem] object-cover object-top" src="https://i5.walmartimages.com/seo/Owala-FreeSip-SS-32oz-Pink_e3784501-cf12-4675-b0a2-b198d2221c7a.df9e0a4c2499b4108cebd2a4eee51890.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
    
                <div class="ml-5">
    
                    <p class="font-semibold text-lg">product title</p>
                    <p class="text-sm text-gray-400">Size: M</p>
                    <p class="text-sm text-gray-400">Color: Blue</p>
    
                </div>
            </div>

        </div>

        <div class="col-span-1">

            <p class="font-semibold text-lg">$395</p>

        </div>
        <div class="col-span-2">

            <p class="font-semibold text-lg">Expected Delivery on Mar 03</p>
            <p class="text-sm">Your Item Has Been Delivered</p>

        </div>

    </div>

</div>