<p>New footer works!</p>
<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
    <div class="container">
        <div class="py-3 flex justify-center">
            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>

            <div class="px-4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>
            </div>

        </div>
        <div class="pt-10 text-center text-gray-600">
            <p>&copy; 2024 My company. All rights reserved.</p>
            <p>Made with love by Habib</p>
            <p>
                Icons made by
                <a class="text-white underline" target="_blank" rel="noopenernoreferrer">Freepik</a>
                from 
                <a class="text-white underline" target="_blank" rel="noopenernoreferrer"> www flaticon com </a>
            </p>

        </div>
    </div>

</div>
